{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block body %}

<div class="log">
    <div class="container">
        <div class="row text-center ">
            <div class="col-5  ">
                <button class="btn login">Sign In</button>
            </div>
            <div class="col-2">
            </div>
            <div class="col-5">
                <button class="btn sign">Sign Up</button>
            </div>
        </div> <br>

        <form method="POST" novalidate>
            <p>nice to meet you</p>
            {% csrf_token %}
            {% include 'parts/alert.html' %}
            <br>
            <div class="input-group mb-3 ">
                <input type="text" name="emailuser" class="form-control" placeholder="Email or Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="remmber" style="width: 75%; margin: 0 auto; ">
                <div class="form-check">
                    <input class="form-check-input" name="remembercheck" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" >
                        remmber me
                    </label>
                </div>
                <span style="color: #707070;"><a class="click"  href="{% url 'signup' %}">Forget Password? </a></span>
            </div>

            <br>
            <div class="text-center">
                <input class="btn" type="submit" name="signin" value="Done">
            </div>
        </form>

        <div class="with text-center">
            <span>Sign in with</span>
            <div class="iconSocial">
                <a class="btn btn-outline-light fac btn-social mx-1" 
                href="https://www.facebook.com/dialog/oauth?client_id=722789235370191&redirect_uri=http://localhost:8000/account/signinfacebook"
                ><i style="margin-right: 10px;" class="fab fa-fw fa-facebook-f"></i>facebook</a>
                <a class="btn btn-outline-light goog btn-social mx-1" 
                href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?client_id=542085961146-v77a1spko4fusekchd9mkqd6uhubsul9.apps.googleusercontent.com&include_granted_scopes=true&redirect_uri=http://localhost:8000/account/signingoogle&response_type=code&scope=profile%20email&flowName=GeneralOAuthFlow"
                ><i style="margin-right: 10px;" class="fab fa-google"></i> Google</a>
            </div>
        </div> 
        
    </div>
</div>



<!-- signup -->
<div class="signup">
    <div class="container">
        <div class="row text-center ">
            <div class="col-5  ">
                <button class="btn login">Sign In</button>
            </div>
            <div class="col-2">
            </div>
            <div class="col-5">
                <button class="btn sign">Sign Up</button>
            </div>
        </div> <br>

        <form method="POST" action="{% url 'signup' %}" novalidate>
            {% csrf_token %}
            {% include 'parts/alert.html' %}
            <br>
            <div class="input-group mb-3 " style="display: flex;">
                <input type="text" name="firstname" value="{{firstname}}" class="form-control first" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                <input  type="text" name="lastname" value="{{lastname}}" class="form-control last" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="username" value="{{username}}" class="form-control" placeholder="username" aria-label="email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="email" name="email" type="email" value="{{email}}" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="phone" value="{{phone}}" minlength="10" maxlength="10" class="form-control" placeholder="Phone Number" aria-label="phone" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password1" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password2"class="form-control" placeholder="Retype Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <select required name="category"  class="form-select"  aria-label="Default select example">
                <option>Choose your artistic talent</option>
                <option value="1">Painting</option>
                <option value="2">Photography</option>
                <option value="3">Embroidery</option>
                <option value="4">Fashion Design</option>
            </select>
            <input required name="type_account" type="text" value="register form" hidden>
            <br>
            <div class="text-center">
                <input name="signup" class="btn" type="submit" value="Done">
            </div>
        </form>
        <span class="span">
            If you already have an account ? <a href="{% url 'signin' %}">Sign in</a> 
        </span>
    </div>
</div>





<!-- reset -->
<div class="reset">
    <div class="tit">
        <h5>
            Password Reset</h5>
    </div>
    <div class="container">

        <p>This step helps make sure that you are the owner of the account</p>
        <div class="input-group mb-3">

            <input type="email" class="form-control" placeholder="Email or Phone Number" aria-label="email" aria-describedby="basic-addon1">
        </div>
        <div class="text-center">
            <button class="btn done" >Done</button>
        </div>
    </div>
</div>



<!-- codeNumber -->
<div class="codeNumber">
    <div class="tit">
        <h5>
            Password Reset</h5>
    </div>
    <div class="container">

        <p>Enter the code that was sent to you</p>
        <div class="input-group mb-3">

            <input type="password" class="form-control" placeholder="" aria-label="email" aria-describedby="basic-addon1">
        </div>
        <div class="text-center">
            <button class="btn done2">Done</button>
        </div>
    </div>
</div>



<!-- returnPassword -->
<div class="returnPassword">
    <div class="tit">
        <h5>
            Password Reset</h5>
    </div>
    <div class="container">

        <p>Set a new password</p>
        <div class="input-group mb-3">

            <input type="password" class="form-control" placeholder="New Password" aria-label="email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">

            <input type="password" class="form-control" placeholder="Confirm the new password" aria-label="email" aria-describedby="basic-addon1">
        </div>
        <div class="text-center">
            <button class="btn" >Done</button>
        </div>
    </div>
</div>



{% endblock %}