{% extends 'base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block body %}


<div class="post mt-5">
    <div class="row g-3 " style="">

        <h2>Palestinian Folk Embroidery Art</h2>
        <div class="image text-center" style="">
            <img class="" src="{% static 'images/wedd.jpg' %}" alt="">
            <img class="" src="{{blogdet.photo.url}}" alt="">
        </div>
        <p>
            The art of embroidery is considered one of the Palestinian folk arts inherited through generations,
            which has evolved over time into a craft. It became a source of livelihood for a large group of
            women in
            Palestine; It has characteristics that are compatible with the social and economic environment of
            the
            Palestinian society. This development was accompanied by the creation of new models with high
            aesthetic
            values ​​inspired by the originality of this craft. <br> <br>
            Palestinian women, especially rural
            ones, were distinguished for their mastery of the art of embroidery; I used it in many areas of
            life; As she adorned her house, her dress, and her own utensils; Her drawings, decorations and
            colors are inspired by the nature of her country and the local environment; That is why we see
            Palestinian embroidery differs from one region to another in the coordination of colors and
            graphics; Each geographical area has its own elements, components and decorative formations that
            derive from it and are appropriate for it.
            <br> <br>
            It is difficult for the researcher to date the art of Palestinian embroidery for various reasons,
            the most important of which is that fabrics and threads wear out over time; They are not able to
            resist the factors of nature; That is why it is rare to find samples of Palestinian embroidery
            dating back to the period before the nineteenth century.
            <br> <br>
            Palestine's unique location in being at the crossroads of Europe, Asia and Africa has played an
            important role in enriching this rich heritage. In addition to the successive civilizations in the
            region, including the Canaanite, Jebusite, and Amorite civilizations; And the many invasions that
            have passed on this land. <br> <br>
            Embroidery, with its drawings and types, has undergone fundamental changes with the passage of time.
            In the nineteenth century and the first quarter of the twentieth century, we find that the
            embroidery patterns and drawings were primarily geometric in shape; In the thirties of the last
            century, new influences began to appear that changed the privacy of traditional embroidery, such as
            embroidery threads manufactured in Europe, which were accompanied by brochures on Western
            embroidery, and all found their way to the Palestinian markets, so Western drawings such as flowers,
            birds and animals leaked into the traditional dresses of women. This was evident in the fifties and
            continues to this day. <br> <br> I knew the villages of Palestinian women in the past from their
            dresses; After examining the drawings and colors drawn on them; The decorative units on the garment
            constituted an important indicator of the identity of the village or region; The woman knows these
            drawings well, and inherits this information from her mother and grandmother; She begins to learn
            the art of embroidery at an early age; Vtgrs the need to transfer the drawings of her village on her
            dresses. As the woman was faithful in conveying the heritage of her village, she was creative in
            changing her embroidery, so she acquired the traditional drawings of her own taste, without
            compromising the basic structure of the composition. <br> <br>
            Although these changes were minor; However, it gave the dresses a renewed luster. Another factor
            influenced the development of traditional graphics; It is intermarriage between the people of
            different parts of Palestine; As the women moved with their husbands to other villages or regions,
            they moved with them some of the drawings of their original villages to their new villages, or vice
            versa, and put them on their dresses. <br> <br>
            The development of means of transportation, such as trains and buses, has also encouraged the people
            of Palestine to move and visit; Which made women see more closely other dresses in other regions;
            What contributed to the exchange of embroidery drawings; The Palestinian woman, like other women,
            desires renewal and creating an aesthetic world in her dress and adornment. <br> <br>
            Although renewal and alteration were always apparent, some drawings remained limited to their
            specific geographical locations; The Ramallah area, for example, was known for its use of the palm
            tree; the Hebron region, with what is called the Pasha’s tent; the region of Jaffa, painted with
            cypress with a base; the area of ​​Gaza, painted with a pillow or scissors; As for Beersheba and its
            area, it was known for its use of veiling. Although such drawings may distinguish one region from
            another, we also find them in various forms and different compositions scattered throughout
            Palestine.
        </p>
        <h5>As for the order of the embroidery on the garment, it was not random; Rather, it is considered and
            covers four main parts of the dress:
        </h5>
        <p>1- The dome: It is the closest piece to the face. Its linguistic origin is (the title), which is what
            goes into the pocket of the shirt on the patches; But it means in the Palestinian dialect (the
            collar of the dress).
            <br> <br> 2- Tail: It is the lower back part of the garment. Its linguistic origin is “tail” and its
            plural is “tails”, that is, what is dragged from the garment if it is swept away.
            <br><br> 3- Al-Benika: It is the side of the dress and its linguistic origin is Al-Benika.
            <br> <br> 4- The sleeve: it is the entry and exit of the hand from the garment.


        </p>
        <h5>The threads used in embroidery are of four types:
        </h5>
        <p>1- Silk thread: The most expensive and heaviest thread. The dress embroidered with it weighs eight
            kilograms, and is only worn in celebrations.

            <br> <br> 2- Cotton thread: it is embroidered on all kinds of clothes, and it is cheap, but some
            cotton threads fade and the colors of some of them dissolve on the colors of others.

            <br> <br> 3- The reeded thread: In the north of Palestine they embroider the tunic and the taqsir,
            and in the white Dajani dress, the upper chest and the violin are embroidered on velvet fabric.

            <br> <br> 4- Machine thread: It is embroidered on satin fabric only, by machine. This thread is also
            used to connect the parts of the dress to each other, and they embroider a silk thread over the
            link.
        </p>
        <h5>Features of the art of Palestinian embroidery</h5>
        <p>
            1- Work clothes are less decorated than clothes for seasons and occasions.

            <br> <br> 2- Unmarried girls are not allowed to wear adornment colors except for kohl; Therefore,
            they
            compensated for this by decorating their clothes with bright colors.

            <br> <br> 3- Customs require that each girl embroider her clothes on her own.

            <br> <br> 4- The greater the thickness of the thread and its luster and the decorated area on the
            garment, the
            greater its aesthetic and material value.

            <br> <br> 5- The decorations of older women are less ornate than the clothes of girls, as they must
            be of
            thick fabric, dark in color and often black on the floor; or dark purple or beige; Also, the colors
            of its decorative units are dark, and they are called (the colors of decency) and they mean
            "dignity".

            <br> <br> 6- Ornamentation (embroidery) was limited to women's clothing, starting from the Islamic
            conquest
            <br> <br> <br> The stitch is known in the popular Palestinian dialect as "Qutbah", and it is the
            basis that finally gives the general shape of the embroidered decorative units. Among the most
            popular stitches used are:
            <br>
            <br> 1- Sclerosis

            <br> 2- the tide

            <br> 3- Teething

            <br> 4- editorial

            <br> 5- Machine stitch

            <br> 6- Silk culture stitch

            <br> 7- The thread

            <br> 8- twisting

            <br> 9- Altanbita

            <br> 10- Zigzag.
            <br> <br> <br> Finally, it is necessary to point out the danger to which the Palestinian folk
            embroidery art has been exposed, and still is. Where the Zionist movement and the occupation
            attempted to steal the Palestinian heritage by distorting the Palestinian folk costumes, by
            introducing decorative units for the art of Palestinian embroidery, and establishing embroidery
            workshops; for the purpose of obliterating this heritage; Participation in international fashion
            shows, and claim that these costumes are from their heritage; As well as the purchase and disposal
            of old embroideries, ensuring that no trace of them remains, and distorting the general shape of the
            dress, by shifting the places of decorations on the parts of the dress, and changing the names and
            shapes of the decorative units; Despite this, the Palestinian heritage remained steadfast and was
            not broken or vanished.
        </p>
    </div>
<br>
    <div class="col-md-12 col-sm-12 animate-box" data-animate-effect="fadeInLeft">
        <!-- Comments -->
        <div class="clear" id="comment-list">
            <div class="row ">
                <div class="comments-area" id="comments">
                    <h2 class="comments-title"> Comments</h2>
                    <ol class="comment-list">
                        {% for comment in allcomments %}
                            {% if comment.registeruser == True %}
                                <li class="comment">
                                    <!-- comment block -->
                                    <div class="comment-body">
                                        <div class="comment-author vcard"> <img class="avatar photo"
                                                src="{{comment.user.userprofile.first.photo.url}}" alt="">
                                            <h3 class="name">{{comment.name}}</h3>
                                        </div>
                                        <div class="comment-meta">{{comment.date}}</div>
                                        <p>{{comment.message}}</p>
                                    </div>
                                </li>
                            {% else %}
                                <li class="comment">
                                    <!-- comment block -->
                                    <div class="comment-body">
                                        <div class="comment-author vcard"> <img class="avatar photo"
                                                src="{% static 'images/avtar.jpg' %}" alt="">
                                                <h3 class="name">{{comment.name}}</h3>
                                        </div>
                                        <div class="comment-meta">{{comment.date}}</div>
                                        <p>{{comment.message}}</p>
                                    </div>
                                </li>
                            {%  endif%}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="contact mt-5">
        <h2 style="width: 75%; margin: 0 auto; text-align: center;">Leave a Comments</h2>
        {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'savecommentregister' blogdet.pk %}">
                {% csrf_token %}
                <div class="cont">
                    <!-- <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                    </div> -->
                    <!-- <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                    </div> -->
                    <input type="number" name="userid" value="{{request.user.pk}}" hidden>
                    <div class="mb-3">
                        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Put your message here" required></textarea>
                    </div>
                </div>
                <div class="bt text-center">
                    <input class="btn" style="color: black; background-color: #C79E17;" name="sendcomment" type="submit" value="send">
                </div>
            </form>
        {% else %}
            <form method="POST" action="{% url 'savecommentnotregister' blogdet.pk %}">
                {% csrf_token %}
                {% include 'parts/alert.html' %}
                <div class="cont">
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Your Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Put your message here" required></textarea>
                    </div>
                </div>
                <div class="bt text-center">
                    <input class="btn" style="color: black; background-color: #C79E17;" type="submit" value="send" name="sendcomment">
                </div>
            </form>
        {% endif %}
    </div>
</div>

<br><br>

{% endblock %}