{% load static %}

<!-- start header -->
<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="">
                    {% if '/' == request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                    {% endif %}
                    {% if 'about' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                    {% endif %}
                    {% if 'category' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'category' %}">Category</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category' %}">Category</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'community' %}">Community</a>
                    </li>
                    {% if 'blog' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        </li>
                    {% endif %}
                    {% if 'contact' in request.path %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    {% endif %}
                </ul>
            {% if not request.user.is_authenticated %}
                <!-- <form class="d-flex"> -->
                    <a href="{% url 'signin' %}"><button class="btn btn-outline-success" >Sign In</button></a>
                <!-- </form> -->
            </div>
            {% else %}
            </div>
            <form class="d-flex" >
                <div class="dropdown">
                    <div class="profile"  class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if userprofile.photo %}
                        <img src="{{userprofile.photo.url}}" alt="">
                        {% else %}
                        <img src="{% static 'images/avtar.jpg' %}" alt="">
                        {% endif %}
                </div>
                    <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenu2" style="margin-left: -50px;">
                        <li><i class="fas fa-user"></i><a href="{% url 'profile' request.user.pk %}"><button class="dropdown-item" type="button">Profile</button></a></li>
                        <li><i class="fas fa-envelope"></i><a href=""><button class="dropdown-item" type="button">Inbox</button></a></li>
                        <hr>
                        <li><i class="far fa-edit"></i><a href="{% url 'editprofile' request.user.pk %}"><button class="dropdown-item" type="button">Edit Profile</button></a></li>
                        <li><i class="fas fa-question-circle"></i><a href=""><button class="dropdown-item" type="button">Help</button></a></li>
                        <hr>
                        <li><i class="fas fa-sign-out-alt"></i><a href="{% url 'logout' %}"><button class="dropdown-item" type="button">Logout</button></a></li>
                    </ul>
                </div>
            </form>
            {% endif %}
        </div>
    </nav>
</div>
<!-- end header -->

